@tailwind base;
@tailwind utilities;
@tailwind components;

*,
::before,
::after {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.swiper {
  overflow: visible !important;
}

@layer utilities {
  .navbar-height {
    @apply h-[70px];
  }
  .input-padding {
    @apply px-[12px];
  }
  .form-size-header {
    @apply text-[2.5rem];
  }

  /* CONFIGURE A CAR - CAR SELECT */
  .cs-verical-padding {
    @apply py-16;
  }
  .cs-horizontal-padding {
    @apply px-10 sm:px-20 md:px-20 lg:px-36;
  }
  .cs-font-family {
    @apply font-optician-sans;
  }
}
