@tailwind base;
@tailwind utilities;
@tailwind components;

*,
::before,
::after {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.swiper {
  overflow: visible !important;
}

.swiper-slide {
  height: fit-content !important;
}

@layer utilities {
  .navbar-height {
    @apply h-[70px];
  }
  .input-padding {
    @apply px-[12px];
  }
  .form-size-header {
    @apply text-[2.5rem];
  }

  /* CONFIGURE A CAR - CAR SELECT */
  .cs-verical-padding {
    @apply py-24 md:py-16;
  }
  .cs-horizontal-padding {
    @apply px-5 sm:px-10 md:px-14 lg:px-36;
  }
  .cs-font-family {
    @apply font-optician-sans;
  }
  .cs-item-image {
    @apply min-h-[275px] sm:min-h-[300px] md:min-h-[325px] lg:min-h-[350px] 3xl:min-h-[525px];
  }
}
