@tailwind base;
@tailwind utilities;
@tailwind components;

*,
::before,
::after {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.swiper-pagination-current {
  color: #2e2e38;
}

.swiper-car-select {
  overflow: visible !important;
}

@layer utilities {
  .swiper-wrapper {
    @apply max-sm:!h-auto;
  }

  .swiper-slide-config-edit {
    @apply lg:px-[4rem]  xl:px-[6rem] 2xl:px-[12rem] 3xl:px-[18rem] 3xl:!w-fit;
  }

  /* NAVBAR STYLES */

  .navbar-height {
    @apply h-[70px];
  }

  /* NAVBAR MENU LINKS */

  .nav-menu-link-height {
    @apply h-[40px];
  }

  .nav-menu-link-width {
    @apply w-[40px];
  }

  /* AUTH FORM STYLES */

  .input-padding {
    @apply px-[12px];
  }
  .form-size-header {
    @apply text-[2.5rem];
  }
}
